.product {
  .container ();
}

.product__list {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
  list-style: none;

  @media @tablet-widths {
    margin-bottom: 53px;
  }

  @media @desktop-widths {
    flex-direction: row;
  }
}

.product__item {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  box-sizing: border-box;
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
  border: @border-header;

  &:last-child {
    margin-bottom: 0;
  }

  @media @tablet-widths {
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 51px;
  }

  @media @desktop-widths {
    flex-direction: column;
    width: 30%;
    margin-bottom: 0;
    margin-right: 50px;

    &:last-child {
      margin-right: 0;
    }
  }
}
