.item__wrapper {
  width: 100%;
  display: block;
  text-decoration: none;

  @media @tablet-widths {
    width: 50%;
    height: 334px;
  }

  @media @desktop-widths {
    width: 100%;
    min-height: 461px;
  }
}

.item__wrapper img {
  @media @tablet-widths {
    width: 334px;
    height: 334px;
  }

  @media @desktop-widths {
    width: 315px;
    height: 461px;
  }
}

.item__description {
  display: flex;
  flex-direction: column;
  width: 100%;

  @media @tablet-widths {
    width: 50%;
    justify-content: space-between;
  }

  @media @desktop-widths {
    width: 100%;
  }

  &:hover {
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
  }

  &:active {
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  }
}

.item__name {
  margin: 0;
  margin-top: 22px;
  padding-bottom: 19px;
  padding-right: 27px;
  padding-left: 27px;

  @media @tablet-widths {
    margin-top: 25px;
    padding-right: 55px;
    font-size: 18px;
  }
}

.item__name a {
  font-family: @font-open-sans;
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  color: @font-main-color;
  text-decoration: none;

  @media @tablet-widths {
    font-size: 20px;
  }
}

.item__name span {
  display: block;
  margin-top: 5px;
  font-family: @font-open-sans;
  font-weight: normal;
  font-size: 13px;
  line-height: 30px;
  color: @font-normal-color;

  @media @tablet-widths {
    font-size: 15px;
  }
}

.item__buy {
  display: flex;
  margin: 0 27px;
  padding-top: 20px;
  padding-bottom: 28px;
  border-top: @border-header;

  @media @tablet-widths {
    margin: 0 32px;
  }
}

.item__price {
  flex-grow: 1;
  font-family: @font-open-sans;
  font-weight: bold;
  font-size: 15px;
  line-height: 24px;
  color: @font-main-color;

  @media @tablet-widths {
    font-size: 17px;
  }
}

.item__btn {
  width: 20px;
  height: 19px;
  font-size: 0;
  border: none;
  cursor: pointer;
  background-image: url("../img/icon-cart.svg");
  background-repeat: no-repeat;
  opacity: 0.5;
}
